/*
Theme Name: Ratio Digital Recruitment
Theme URI: https://rami-abdelal.co.uk
Author: Rami Abdelal
Author URI: https://rami-abdelal.co.uk
Description: A bespoke theme created for Ratio Digital Recruitment, an multinational agency dedicated to I.T. jobs.
Version: 1.0
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Tags: blue, orange, responsive, rami, abdelal, ratio, digital, recruitment, rgb websites, 
Text Domain: ratio

*/

/* Reset */

article,aside,details,figcaption,figure,footer,header,hgroup,nav,section,summary{display:block}audio,canvas,video{display:inline-block;*display:inline;*zoom:1}audio:not([controls]){display:none}[hidden]{display:none}html{font-size:100%;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%}html,button,input,select,textarea{font-family:Helvetica,Arial,sans-serif}body{margin:0}a:focus{outline:none}a:hover,a:active{outline:0}h1{font-size:2em;}h2{font-size:1.5em}h3{font-size:1.17em}h4{font-size:1em}h5{font-size:.83em}h6{font-size:.75em}abbr[title]{border-bottom:1px dotted}b,strong{font-weight:bold}dfn{font-style:italic}mark{background:#ff0;color:#000}p,pre{}pre,code,kbd,samp{font-family:monospace,serif;_font-family:'courier new',monospace;font-size:1em}pre{white-space:pre;white-space:pre-wrap;word-wrap:break-word}q{quotes:none}q:before,q:after{content:'';content:none}small{font-size:75%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sup{top:-0.5em}sub{bottom:-0.25em}nav ul,nav ol{list-style:none;list-style-image:none}img{border:0;-ms-interpolation-mode:bicubic}svg:not(:root){overflow:hidden}figure{margin:0}form{margin:0}fieldset{border:1px dotted #c0c0c0;margin:0 2px;padding:.35em .625em .75em}legend{border:0;padding:0px;white-space:normal;*margin-left:-7px}button,input,select,textarea{font-size:100%;margin:0px;vertical-align:baseline;*vertical-align:middle}button,input{line-height:normal}button,input[type="button"],input[type="reset"],input[type="submit"]{cursor:pointer;-webkit-appearance:button;*overflow:visible;-webkit-tap-highlight-color:rgba(0,0,0,0);}button[disabled],input[disabled]{cursor:default}input[type="checkbox"],input[type="radio"]{box-sizing:border-box;padding:0px;*height:13px;*width:13px}input[type="search"]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box}input[type="search"]::-webkit-search-decoration,input[type="search"]::-webkit-search-cancel-button{-webkit-appearance:none}button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0}textarea{overflow:auto;vertical-align:top}table{border-collapse:collapse;border-spacing:0}*{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	margin:0;
	padding: 0;
}

/* Hamburger Menu https://github.com/jonsuh/hamburgers */


.hamburger {
  padding: 0;
padding-top: 5px;
  display: inline-block;
  cursor: pointer;
  transition-property: opacity, filter;
  transition-duration: 0.15s;
  transition-timing-function: linear;
  font: inherit;
  color: inherit;
  text-transform: none;
  background-color: transparent;
  border: 0;
  margin: 0;
  overflow: visible; }
  .hamburger:hover {
    opacity: 0.7; }

.hamburger-box {
  width: auto;
  height: 24px;
  display: inline-block;
  position: relative; }

.hamburger-inner {
  display: block;
  top: 50%;
  margin-top: -2px; }
  .hamburger-inner, .hamburger-inner::before, .hamburger-inner::after {
    width: 20px;
    height: 4px;
    background-color: #f6f6f6;
    border-radius: 4px;
    position: absolute;
    transition-property: transform;
    transition-duration: 0.15s;
    transition-timing-function: ease; }
  .hamburger-inner::before, .hamburger-inner::after {
    content: "";
    display: block; }
  .hamburger-inner::before {
    top: -10px; }
  .hamburger-inner::after {
    bottom: -10px; }

/*
   * 3DX
   */
.hamburger--3dx .hamburger-box {
  perspective: 80px; }

.hamburger--3dx .hamburger-inner {
  transition: transform 0.15s cubic-bezier(0.645, 0.045, 0.355, 1), background-color 0s 0.1s cubic-bezier(0.645, 0.045, 0.355, 1); }
  .hamburger--3dx .hamburger-inner::before, .hamburger--3dx .hamburger-inner::after {
    transition: transform 0s 0.1s cubic-bezier(0.645, 0.045, 0.355, 1); }

.hamburger--3dx.is-active .hamburger-inner {
  background-color: transparent;
  transform: rotateY(180deg); }
  .hamburger--3dx.is-active .hamburger-inner::before {
    transform: translate3d(0, 10px, 0) rotate(45deg); }
  .hamburger--3dx.is-active .hamburger-inner::after {
    transform: translate3d(0, -10px, 0) rotate(-45deg); }

/*
   * 3DX Reverse
   */
.hamburger--3dx-r .hamburger-box {
  perspective: 80px; }

.hamburger--3dx-r .hamburger-inner {
  transition: transform 0.15s cubic-bezier(0.645, 0.045, 0.355, 1), background-color 0s 0.1s cubic-bezier(0.645, 0.045, 0.355, 1); }
  .hamburger--3dx-r .hamburger-inner::before, .hamburger--3dx-r .hamburger-inner::after {
    transition: transform 0s 0.1s cubic-bezier(0.645, 0.045, 0.355, 1); }

.hamburger--3dx-r.is-active .hamburger-inner {
  background-color: transparent;
  transform: rotateY(-180deg); }
  .hamburger--3dx-r.is-active .hamburger-inner::before {
    transform: translate3d(0, 10px, 0) rotate(45deg); }
  .hamburger--3dx-r.is-active .hamburger-inner::after {
    transform: translate3d(0, -10px, 0) rotate(-45deg); }

/*
   * 3DY
   */
.hamburger--3dy .hamburger-box {
  perspective: 80px; }

.hamburger--3dy .hamburger-inner {
  transition: transform 0.15s cubic-bezier(0.645, 0.045, 0.355, 1), background-color 0s 0.1s cubic-bezier(0.645, 0.045, 0.355, 1); }
  .hamburger--3dy .hamburger-inner::before, .hamburger--3dy .hamburger-inner::after {
    transition: transform 0s 0.1s cubic-bezier(0.645, 0.045, 0.355, 1); }

.hamburger--3dy.is-active .hamburger-inner {
  background-color: transparent;
  transform: rotateX(-180deg); }
  .hamburger--3dy.is-active .hamburger-inner::before {
    transform: translate3d(0, 10px, 0) rotate(45deg); }
  .hamburger--3dy.is-active .hamburger-inner::after {
    transform: translate3d(0, -10px, 0) rotate(-45deg); }

/*
   * 3DY Reverse
   */
.hamburger--3dy-r .hamburger-box {
  perspective: 80px; }

.hamburger--3dy-r .hamburger-inner {
  transition: transform 0.15s cubic-bezier(0.645, 0.045, 0.355, 1), background-color 0s 0.1s cubic-bezier(0.645, 0.045, 0.355, 1); }
  .hamburger--3dy-r .hamburger-inner::before, .hamburger--3dy-r .hamburger-inner::after {
    transition: transform 0s 0.1s cubic-bezier(0.645, 0.045, 0.355, 1); }

.hamburger--3dy-r.is-active .hamburger-inner {
  background-color: transparent;
  transform: rotateX(180deg); }
  .hamburger--3dy-r.is-active .hamburger-inner::before {
    transform: translate3d(0, 10px, 0) rotate(45deg); }
  .hamburger--3dy-r.is-active .hamburger-inner::after {
    transform: translate3d(0, -10px, 0) rotate(-45deg); }

/*
   * Arrow
   */
.hamburger--arrow.is-active .hamburger-inner::before {
  transform: translate3d(-8px, 0, 0) rotate(-45deg) scale(0.7, 1); }

.hamburger--arrow.is-active .hamburger-inner::after {
  transform: translate3d(-8px, 0, 0) rotate(45deg) scale(0.7, 1); }

/*
   * Arrow Right
   */
.hamburger--arrow-r.is-active .hamburger-inner::before {
  transform: translate3d(8px, 0, 0) rotate(45deg) scale(0.7, 1); }

.hamburger--arrow-r.is-active .hamburger-inner::after {
  transform: translate3d(8px, 0, 0) rotate(-45deg) scale(0.7, 1); }

/*
   * Arrow Alt
   */
.hamburger--arrowalt .hamburger-inner::before {
  transition: top 0.1s 0.1s ease, transform 0.1s cubic-bezier(0.165, 0.84, 0.44, 1); }

.hamburger--arrowalt .hamburger-inner::after {
  transition: bottom 0.1s 0.1s ease, transform 0.1s cubic-bezier(0.165, 0.84, 0.44, 1); }

.hamburger--arrowalt.is-active .hamburger-inner::before {
  top: 0;
  transform: translate3d(-8px, -10px, 0) rotate(-45deg) scale(0.7, 1);
  transition: top 0.1s ease, transform 0.1s 0.1s cubic-bezier(0.895, 0.03, 0.685, 0.22); }

.hamburger--arrowalt.is-active .hamburger-inner::after {
  bottom: 0;
  transform: translate3d(-8px, 10px, 0) rotate(45deg) scale(0.7, 1);
  transition: bottom 0.1s ease, transform 0.1s 0.1s cubic-bezier(0.895, 0.03, 0.685, 0.22); }

/*
   * Arrow Alt Right
   */
.hamburger--arrowalt-r .hamburger-inner::before {
  transition: top 0.1s 0.1s ease, transform 0.1s cubic-bezier(0.165, 0.84, 0.44, 1); }

.hamburger--arrowalt-r .hamburger-inner::after {
  transition: bottom 0.1s 0.1s ease, transform 0.1s cubic-bezier(0.165, 0.84, 0.44, 1); }

.hamburger--arrowalt-r.is-active .hamburger-inner::before {
  top: 0;
  transform: translate3d(8px, -10px, 0) rotate(45deg) scale(0.7, 1);
  transition: top 0.1s ease, transform 0.1s 0.1s cubic-bezier(0.895, 0.03, 0.685, 0.22); }

.hamburger--arrowalt-r.is-active .hamburger-inner::after {
  bottom: 0;
  transform: translate3d(8px, 10px, 0) rotate(-45deg) scale(0.7, 1);
  transition: bottom 0.1s ease, transform 0.1s 0.1s cubic-bezier(0.895, 0.03, 0.685, 0.22); }

/*
   * Boring
   */
.hamburger--boring .hamburger-inner, .hamburger--boring .hamburger-inner::before, .hamburger--boring .hamburger-inner::after {
  transition-property: none; }

.hamburger--boring.is-active .hamburger-inner {
  transform: rotate(45deg); }
  .hamburger--boring.is-active .hamburger-inner::before {
    top: 0;
    opacity: 0; }
  .hamburger--boring.is-active .hamburger-inner::after {
    bottom: 0;
    transform: rotate(-90deg); }

/*
   * Collapse
   */
.hamburger--collapse .hamburger-inner {
  top: auto;
  bottom: 0;
  transition-duration: 0.13s;
  transition-delay: 0.13s;
  transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19); }
  .hamburger--collapse .hamburger-inner::after {
    top: -20px;
    transition: top 0.2s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1), opacity 0.1s linear; }
  .hamburger--collapse .hamburger-inner::before {
    transition: top 0.12s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1), transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19); }

.hamburger--collapse.is-active .hamburger-inner {
  transform: translate3d(0, -10px, 0) rotate(-45deg);
  transition-delay: 0.22s;
  transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1); }
  .hamburger--collapse.is-active .hamburger-inner::after {
    top: 0;
    opacity: 0;
    transition: top 0.2s cubic-bezier(0.33333, 0, 0.66667, 0.33333), opacity 0.1s 0.22s linear; }
  .hamburger--collapse.is-active .hamburger-inner::before {
    top: 0;
    transform: rotate(-90deg);
    transition: top 0.1s 0.16s cubic-bezier(0.33333, 0, 0.66667, 0.33333), transform 0.13s 0.25s cubic-bezier(0.215, 0.61, 0.355, 1); }

/*
   * Collapse Reverse
   */
.hamburger--collapse-r .hamburger-inner {
  top: auto;
  bottom: 0;
  transition-duration: 0.13s;
  transition-delay: 0.13s;
  transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19); }
  .hamburger--collapse-r .hamburger-inner::after {
    top: -20px;
    transition: top 0.2s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1), opacity 0.1s linear; }
  .hamburger--collapse-r .hamburger-inner::before {
    transition: top 0.12s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1), transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19); }

.hamburger--collapse-r.is-active .hamburger-inner {
  transform: translate3d(0, -10px, 0) rotate(45deg);
  transition-delay: 0.22s;
  transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1); }
  .hamburger--collapse-r.is-active .hamburger-inner::after {
    top: 0;
    opacity: 0;
    transition: top 0.2s cubic-bezier(0.33333, 0, 0.66667, 0.33333), opacity 0.1s 0.22s linear; }
  .hamburger--collapse-r.is-active .hamburger-inner::before {
    top: 0;
    transform: rotate(90deg);
    transition: top 0.1s 0.16s cubic-bezier(0.33333, 0, 0.66667, 0.33333), transform 0.13s 0.25s cubic-bezier(0.215, 0.61, 0.355, 1); }

/*
   * Elastic
   */
.hamburger--elastic .hamburger-inner {
  top: 2px;
  transition-duration: 0.275s;
  transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55); }
  .hamburger--elastic .hamburger-inner::before {
    top: 10px;
    transition: opacity 0.125s 0.275s ease; }
  .hamburger--elastic .hamburger-inner::after {
    top: 20px;
    transition: transform 0.275s cubic-bezier(0.68, -0.55, 0.265, 1.55); }

.hamburger--elastic.is-active .hamburger-inner {
  transform: translate3d(0, 10px, 0) rotate(135deg);
  transition-delay: 0.075s; }
  .hamburger--elastic.is-active .hamburger-inner::before {
    transition-delay: 0s;
    opacity: 0; }
  .hamburger--elastic.is-active .hamburger-inner::after {
    transform: translate3d(0, -20px, 0) rotate(-270deg);
    transition-delay: 0.075s; }

/*
   * Elastic Reverse
   */
.hamburger--elastic-r .hamburger-inner {
  top: 2px;
  transition-duration: 0.275s;
  transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55); }
  .hamburger--elastic-r .hamburger-inner::before {
    top: 10px;
    transition: opacity 0.125s 0.275s ease; }
  .hamburger--elastic-r .hamburger-inner::after {
    top: 20px;
    transition: transform 0.275s cubic-bezier(0.68, -0.55, 0.265, 1.55); }

.hamburger--elastic-r.is-active .hamburger-inner {
  transform: translate3d(0, 10px, 0) rotate(-135deg);
  transition-delay: 0.075s; }
  .hamburger--elastic-r.is-active .hamburger-inner::before {
    transition-delay: 0s;
    opacity: 0; }
  .hamburger--elastic-r.is-active .hamburger-inner::after {
    transform: translate3d(0, -20px, 0) rotate(270deg);
    transition-delay: 0.075s; }

/*
   * Emphatic
   */
.hamburger--emphatic {
  overflow: hidden; }
  .hamburger--emphatic .hamburger-inner {
    transition: background-color 0.125s 0.175s ease-in; }
    .hamburger--emphatic .hamburger-inner::before {
      left: 0;
      transition: transform 0.125s cubic-bezier(0.6, 0.04, 0.98, 0.335), top 0.05s 0.125s linear, left 0.125s 0.175s ease-in; }
    .hamburger--emphatic .hamburger-inner::after {
      top: 10px;
      right: 0;
      transition: transform 0.125s cubic-bezier(0.6, 0.04, 0.98, 0.335), top 0.05s 0.125s linear, right 0.125s 0.175s ease-in; }
  .hamburger--emphatic.is-active .hamburger-inner {
    transition-delay: 0s;
    transition-timing-function: ease-out;
    background-color: transparent; }
    .hamburger--emphatic.is-active .hamburger-inner::before {
      left: -80px;
      top: -80px;
      transform: translate3d(80px, 80px, 0) rotate(45deg);
      transition: left 0.125s ease-out, top 0.05s 0.125s linear, transform 0.125s 0.175s cubic-bezier(0.075, 0.82, 0.165, 1); }
    .hamburger--emphatic.is-active .hamburger-inner::after {
      right: -80px;
      top: -80px;
      transform: translate3d(-80px, 80px, 0) rotate(-45deg);
      transition: right 0.125s ease-out, top 0.05s 0.125s linear, transform 0.125s 0.175s cubic-bezier(0.075, 0.82, 0.165, 1); }

/*
   * Emphatic Reverse
   */
.hamburger--emphatic-r {
  overflow: hidden; }
  .hamburger--emphatic-r .hamburger-inner {
    transition: background-color 0.125s 0.175s ease-in; }
    .hamburger--emphatic-r .hamburger-inner::before {
      left: 0;
      transition: transform 0.125s cubic-bezier(0.6, 0.04, 0.98, 0.335), top 0.05s 0.125s linear, left 0.125s 0.175s ease-in; }
    .hamburger--emphatic-r .hamburger-inner::after {
      top: 10px;
      right: 0;
      transition: transform 0.125s cubic-bezier(0.6, 0.04, 0.98, 0.335), top 0.05s 0.125s linear, right 0.125s 0.175s ease-in; }
  .hamburger--emphatic-r.is-active .hamburger-inner {
    transition-delay: 0s;
    transition-timing-function: ease-out;
    background-color: transparent; }
    .hamburger--emphatic-r.is-active .hamburger-inner::before {
      left: -80px;
      top: 80px;
      transform: translate3d(80px, -80px, 0) rotate(-45deg);
      transition: left 0.125s ease-out, top 0.05s 0.125s linear, transform 0.125s 0.175s cubic-bezier(0.075, 0.82, 0.165, 1); }
    .hamburger--emphatic-r.is-active .hamburger-inner::after {
      right: -80px;
      top: 80px;
      transform: translate3d(-80px, -80px, 0) rotate(45deg);
      transition: right 0.125s ease-out, top 0.05s 0.125s linear, transform 0.125s 0.175s cubic-bezier(0.075, 0.82, 0.165, 1); }

/*
   * Slider
   */
.hamburger--slider .hamburger-inner {
  top: 2px; }
  .hamburger--slider .hamburger-inner::before {
    top: 10px;
    transition-property: transform, opacity;
    transition-timing-function: ease;
    transition-duration: 0.15s; }
  .hamburger--slider .hamburger-inner::after {
    top: 20px; }

.hamburger--slider.is-active .hamburger-inner {
  transform: translate3d(0, 10px, 0) rotate(45deg); }
  .hamburger--slider.is-active .hamburger-inner::before {
    transform: rotate(-45deg) translate3d(-5.71429px, -6px, 0);
    opacity: 0; }
  .hamburger--slider.is-active .hamburger-inner::after {
    transform: translate3d(0, -20px, 0) rotate(-90deg); }

/*
   * Slider Reverse
   */
.hamburger--slider-r .hamburger-inner {
  top: 2px; }
  .hamburger--slider-r .hamburger-inner::before {
    top: 10px;
    transition-property: transform, opacity;
    transition-timing-function: ease;
    transition-duration: 0.15s; }
  .hamburger--slider-r .hamburger-inner::after {
    top: 20px; }

.hamburger--slider-r.is-active .hamburger-inner {
  transform: translate3d(0, 10px, 0) rotate(-45deg); }
  .hamburger--slider-r.is-active .hamburger-inner::before {
    transform: rotate(45deg) translate3d(5.71429px, -6px, 0);
    opacity: 0; }
  .hamburger--slider-r.is-active .hamburger-inner::after {
    transform: translate3d(0, -20px, 0) rotate(90deg); }

/*
   * Spring
   */
.hamburger--spring .hamburger-inner {
  top: 2px;
  transition: background-color 0s 0.13s linear; }
  .hamburger--spring .hamburger-inner::before {
    top: 10px;
    transition: top 0.1s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1), transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19); }
  .hamburger--spring .hamburger-inner::after {
    top: 20px;
    transition: top 0.2s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1), transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19); }

.hamburger--spring.is-active .hamburger-inner {
  transition-delay: 0.22s;
  background-color: transparent; }
  .hamburger--spring.is-active .hamburger-inner::before {
    top: 0;
    transition: top 0.1s 0.15s cubic-bezier(0.33333, 0, 0.66667, 0.33333), transform 0.13s 0.22s cubic-bezier(0.215, 0.61, 0.355, 1);
    transform: translate3d(0, 10px, 0) rotate(45deg); }
  .hamburger--spring.is-active .hamburger-inner::after {
    top: 0;
    transition: top 0.2s cubic-bezier(0.33333, 0, 0.66667, 0.33333), transform 0.13s 0.22s cubic-bezier(0.215, 0.61, 0.355, 1);
    transform: translate3d(0, 10px, 0) rotate(-45deg); }

/*
   * Spring Reverse
   */
.hamburger--spring-r .hamburger-inner {
  top: auto;
  bottom: 0;
  transition-duration: 0.13s;
  transition-delay: 0s;
  transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19); }
  .hamburger--spring-r .hamburger-inner::after {
    top: -20px;
    transition: top 0.2s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1), opacity 0s linear; }
  .hamburger--spring-r .hamburger-inner::before {
    transition: top 0.1s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1), transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19); }

.hamburger--spring-r.is-active .hamburger-inner {
  transform: translate3d(0, -10px, 0) rotate(-45deg);
  transition-delay: 0.22s;
  transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1); }
  .hamburger--spring-r.is-active .hamburger-inner::after {
    top: 0;
    opacity: 0;
    transition: top 0.2s cubic-bezier(0.33333, 0, 0.66667, 0.33333), opacity 0s 0.22s linear; }
  .hamburger--spring-r.is-active .hamburger-inner::before {
    top: 0;
    transform: rotate(90deg);
    transition: top 0.1s 0.15s cubic-bezier(0.33333, 0, 0.66667, 0.33333), transform 0.13s 0.22s cubic-bezier(0.215, 0.61, 0.355, 1); }

/*
   * Stand
   */
.hamburger--stand .hamburger-inner {
  transition: transform 0.075s 0.15s cubic-bezier(0.55, 0.055, 0.675, 0.19), background-color 0s 0.075s linear; }
  .hamburger--stand .hamburger-inner::before {
    transition: top 0.075s 0.075s ease-in, transform 0.075s 0s cubic-bezier(0.55, 0.055, 0.675, 0.19); }
  .hamburger--stand .hamburger-inner::after {
    transition: bottom 0.075s 0.075s ease-in, transform 0.075s 0s cubic-bezier(0.55, 0.055, 0.675, 0.19); }

.hamburger--stand.is-active .hamburger-inner {
  transform: rotate(90deg);
  background-color: transparent;
  transition: transform 0.075s 0s cubic-bezier(0.215, 0.61, 0.355, 1), background-color 0s 0.15s linear; }
  .hamburger--stand.is-active .hamburger-inner::before {
    top: 0;
    transform: rotate(-45deg);
    transition: top 0.075s 0.1s ease-out, transform 0.075s 0.15s cubic-bezier(0.215, 0.61, 0.355, 1); }
  .hamburger--stand.is-active .hamburger-inner::after {
    bottom: 0;
    transform: rotate(45deg);
    transition: bottom 0.075s 0.1s ease-out, transform 0.075s 0.15s cubic-bezier(0.215, 0.61, 0.355, 1); }

/*
   * Stand Reverse
   */
.hamburger--stand-r .hamburger-inner {
  transition: transform 0.075s 0.15s cubic-bezier(0.55, 0.055, 0.675, 0.19), background-color 0s 0.075s linear; }
  .hamburger--stand-r .hamburger-inner::before {
    transition: top 0.075s 0.075s ease-in, transform 0.075s 0s cubic-bezier(0.55, 0.055, 0.675, 0.19); }
  .hamburger--stand-r .hamburger-inner::after {
    transition: bottom 0.075s 0.075s ease-in, transform 0.075s 0s cubic-bezier(0.55, 0.055, 0.675, 0.19); }

.hamburger--stand-r.is-active .hamburger-inner {
  transform: rotate(-90deg);
  background-color: transparent;
  transition: transform 0.075s 0s cubic-bezier(0.215, 0.61, 0.355, 1), background-color 0s 0.15s linear; }
  .hamburger--stand-r.is-active .hamburger-inner::before {
    top: 0;
    transform: rotate(-45deg);
    transition: top 0.075s 0.1s ease-out, transform 0.075s 0.15s cubic-bezier(0.215, 0.61, 0.355, 1); }
  .hamburger--stand-r.is-active .hamburger-inner::after {
    bottom: 0;
    transform: rotate(45deg);
    transition: bottom 0.075s 0.1s ease-out, transform 0.075s 0.15s cubic-bezier(0.215, 0.61, 0.355, 1); }

/*
   * Spin
   */
.hamburger--spin .hamburger-inner {
  transition-duration: 0.22s;
  transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19); }
  .hamburger--spin .hamburger-inner::before {
    transition: top 0.1s 0.25s ease-in, opacity 0.1s ease-in; }
  .hamburger--spin .hamburger-inner::after {
    transition: bottom 0.1s 0.25s ease-in, transform 0.22s cubic-bezier(0.55, 0.055, 0.675, 0.19); }

.hamburger--spin.is-active .hamburger-inner {
  transform: rotate(225deg);
  transition-delay: 0.12s;
  transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1); }
  .hamburger--spin.is-active .hamburger-inner::before {
    top: 0;
    opacity: 0;
    transition: top 0.1s ease-out, opacity 0.1s 0.12s ease-out; }
  .hamburger--spin.is-active .hamburger-inner::after {
    bottom: 0;
    transform: rotate(-90deg);
    transition: bottom 0.1s ease-out, transform 0.22s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1); }

/*
   * Spin Reverse
   */
.hamburger--spin-r .hamburger-inner {
  transition-duration: 0.22s;
  transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19); }
  .hamburger--spin-r .hamburger-inner::before {
    transition: top 0.1s 0.25s ease-in, opacity 0.1s ease-in; }
  .hamburger--spin-r .hamburger-inner::after {
    transition: bottom 0.1s 0.25s ease-in, transform 0.22s cubic-bezier(0.55, 0.055, 0.675, 0.19); }

.hamburger--spin-r.is-active .hamburger-inner {
  transform: rotate(-225deg);
  transition-delay: 0.12s;
  transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1); }
  .hamburger--spin-r.is-active .hamburger-inner::before {
    top: 0;
    opacity: 0;
    transition: top 0.1s ease-out, opacity 0.1s 0.12s ease-out; }
  .hamburger--spin-r.is-active .hamburger-inner::after {
    bottom: 0;
    transform: rotate(90deg);
    transition: bottom 0.1s ease-out, transform 0.22s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1); }

/*
   * Squeeze
   */
.hamburger--squeeze .hamburger-inner {
  transition-duration: 0.075s;
  transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19); }
  .hamburger--squeeze .hamburger-inner::before {
    transition: top 0.075s 0.12s ease, opacity 0.075s ease; }
  .hamburger--squeeze .hamburger-inner::after {
    transition: bottom 0.075s 0.12s ease, transform 0.075s cubic-bezier(0.55, 0.055, 0.675, 0.19); }

.hamburger--squeeze.is-active .hamburger-inner {
  transform: rotate(45deg);
  transition-delay: 0.12s;
  transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1); }
  .hamburger--squeeze.is-active .hamburger-inner::before {
    top: 0;
    opacity: 0;
    transition: top 0.075s ease, opacity 0.075s 0.12s ease; }
  .hamburger--squeeze.is-active .hamburger-inner::after {
    bottom: 0;
    transform: rotate(-90deg);
    transition: bottom 0.075s ease, transform 0.075s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1); }

/*
   * Vortex
   */
.hamburger--vortex .hamburger-inner {
  transition-duration: 0.2s;
  transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1); }
  .hamburger--vortex .hamburger-inner::before, .hamburger--vortex .hamburger-inner::after {
    transition-duration: 0s;
    transition-delay: 0.1s;
    transition-timing-function: linear; }
  .hamburger--vortex .hamburger-inner::before {
    transition-property: top, opacity; }
  .hamburger--vortex .hamburger-inner::after {
    transition-property: bottom, transform; }

.hamburger--vortex.is-active .hamburger-inner {
  transform: rotate(765deg);
  transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1); }
  .hamburger--vortex.is-active .hamburger-inner::before, .hamburger--vortex.is-active .hamburger-inner::after {
    transition-delay: 0s; }
  .hamburger--vortex.is-active .hamburger-inner::before {
    top: 0;
    opacity: 0; }
  .hamburger--vortex.is-active .hamburger-inner::after {
    bottom: 0;
    transform: rotate(90deg); }

/*
   * Vortex Reverse
   */
.hamburger--vortex-r .hamburger-inner {
  transition-duration: 0.2s;
  transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1); }
  .hamburger--vortex-r .hamburger-inner::before, .hamburger--vortex-r .hamburger-inner::after {
    transition-duration: 0s;
    transition-delay: 0.1s;
    transition-timing-function: linear; }
  .hamburger--vortex-r .hamburger-inner::before {
    transition-property: top, opacity; }
  .hamburger--vortex-r .hamburger-inner::after {
    transition-property: bottom, transform; }

.hamburger--vortex-r.is-active .hamburger-inner {
  transform: rotate(-765deg);
  transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1); }
  .hamburger--vortex-r.is-active .hamburger-inner::before, .hamburger--vortex-r.is-active .hamburger-inner::after {
    transition-delay: 0s; }
  .hamburger--vortex-r.is-active .hamburger-inner::before {
    top: 0;
    opacity: 0; }
  .hamburger--vortex-r.is-active .hamburger-inner::after {
    bottom: 0;
    transform: rotate(-90deg); }

/* General */

html {
	
	overflow-y: auto;
	overflow-x: hidden;
	height: 100%;
	width: 100%;
	font-family: 'Rubrik', Helvetica, Arial, sans-serif;
	font-weight: normal;
	font-style: normal;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-rendering: optimizeLegibility;
	color: #353535;
	background-color: #eeeeee;
	
	
}

body { 

	height: 100%;
	width: 100%;
    padding-left: 200px;
	transition: .2s ease-in-out;
    
}

/* Type */

@font-face {
  font-family: 'icomoon';
  src:  url('font/icomoon.eot?1fu8nn');
  src:  url('font/icomoon.eot?1fu8nn#iefix') format('embedded-opentype'),
    url('font/icomoon.ttf?1fu8nn') format('truetype'),
    url('font/icomoon.woff?1fu8nn') format('woff'),
    url('font/icomoon.svg?1fu8nn#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-creative:before {
  content: "\e900";
}
.icon-global:before {
  content: "\e901";
}
.icon-it:before {
  content: "\e902";
}
.icon-marketing:before {
  content: "\e903";
}
.icon-mobile:before {
  content: "\e904";
}
.icon-project:before {
  content: "\e905";
}
.icon-logo:before {
  content: "\e906";
}
.icon-social:before {
  content: "\e907";
}
.icon-tie:before {
  content: "\e976";
}



@font-face {
    font-family: 'Moon Bold';
    src: url('font/moon_bold-webfont.eot');
    src: url('font/moon_bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('font/moon_bold-webfont.woff2') format('woff2'),
         url('font/moon_bold-webfont.woff') format('woff'),
         url('font/moon_bold-webfont.ttf') format('truetype'),
         url('font/moon_bold-webfont.svg#moonbold') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'Moon Light';
    src: url('font/moon_light-webfont.eot');
    src: url('font/moon_light-webfont.eot?#iefix') format('embedded-opentype'),
         url('font/moon_light-webfont.woff2') format('woff2'),
         url('font/moon_light-webfont.woff') format('woff'),
         url('font/moon_light-webfont.ttf') format('truetype'),
         url('font/moon_light-webfont.svg#moonlight') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'Rubrik Italic';
    src: url('font/rubrik_italic-webfont.eot');
    src: url('font/rubrik_italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('font/rubrik_italic-webfont.woff2') format('woff2'),
         url('font/rubrik_italic-webfont.woff') format('woff'),
         url('font/rubrik_italic-webfont.ttf') format('truetype'),
         url('font/rubrik_italic-webfont.svg#rubrik_italicregular') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'Rubrik Semibold Italic';
    src: url('font/rubrik_semibold_italic-webfont.eot');
    src: url('font/rubrik_semibold_italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('font/rubrik_semibold_italic-webfont.woff2') format('woff2'),
         url('font/rubrik_semibold_italic-webfont.woff') format('woff'),
         url('font/rubrik_semibold_italic-webfont.ttf') format('truetype'),
         url('font/rubrik_semibold_italic-webfont.svg#rubrik_semibold_italicregular') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'Rubrik Semibold';
    src: url('font/rubrik_semibold-webfont.eot');
    src: url('font/rubrik_semibold-webfont.eot?#iefix') format('embedded-opentype'),
         url('font/rubrik_semibold-webfont.woff2') format('woff2'),
         url('font/rubrik_semibold-webfont.woff') format('woff'),
         url('font/rubrik_semibold-webfont.ttf') format('truetype'),
         url('font/rubrik_semibold-webfont.svg#rubrik_semiboldregular') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'Rubrik';
    src: url('font/rubrik-webfont.eot');
    src: url('font/rubrik-webfont.eot?#iefix') format('embedded-opentype'),
         url('font/rubrik-webfont.woff2') format('woff2'),
         url('font/rubrik-webfont.woff') format('woff'),
         url('font/rubrik-webfont.ttf') format('truetype'),
         url('font/rubrik-webfont.svg#rubrikregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

h1, h2, h3, h4, h5, h6, a.button {
    
    font-family: 'Moon Light', 'Moon Bold', 'Rubrik' , 'Rubrik Semibold', Segoe, Segoe UI, DejaVu Sans, Trebuchet MS, Verdana," sans-serif";
    letter-spacing: 1px;
    
}

.text-gradient {
    
    display: inline-block;
    background: -webkit-linear-gradient(left, rgba(41,171,225,1) 0%, rgba(240,90,35,1) 100%);
    background: -o-linear-gradient(left, rgba(41,171,225,1) 0%, rgba(240,90,35,1) 100%);
    background: linear-gradient(to right, rgba(41,171,225,1) 0%, rgba(240,90,35,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#29abe1', endColorstr='#f05a23',GradientType=1 ); /* IE6-9 */
    color:transparent;
    -webkit-background-clip: text;
    background-clip: text;
    transition: all .2s ease-in-out;
    
}

button:focus {

	outline: 0;

}

a {
    
    text-decoration:  none;
    transition: all .2s ease-in-out;
    
}

a.button, input[type="submit"] {
    
    font-family: 'Rubrik' , 'Rubrik Semibold', Segoe, Segoe UI, DejaVu Sans, Trebuchet MS, Verdana," sans-serif";
    display: inline-block;
    padding: 15px 30px;
    margin-bottom: 60px;
    border-radius: 4px;
    color: #f6f6f6;
    font-size: 20px;
    text-shadow: none;
    box-shadow: 0px 2px 3px rgba(0,0,0,.2);
    background: linear-gradient(to right, rgba(41,171,225,1) 0%, rgba(240,90,35,1) 100%);
    transition: all .2s ease-in-out;
}

a.button:last-of-type, p:last-of-type {
    
    margin-bottom: 0;
    
}

a.button:hover, a.button:focus, input[type="submit"]:hover, input[type="submit"]:focus {
    
    transform: scale(1.2);
    
}

a.button:active, input[type="submit"]:active {
    
    transform: scale(0.6);
    
}


h1 {
    
    font-size: 60px;
    
}

h6 {
    
    font-family: 'Rubrik Semibold', 'Rubrik', 'Moon Light', 'Moon Bold', Segoe, Segoe UI, DejaVu Sans, Trebuchet MS, Verdana," sans-serif";
    font-size: 20px;
    margin-top: 45px;
    letter-spacing: 1px;
    
}

strong {
    
    font-family:  'Moon Bold', 'Moon Light', 'Rubrik Semibold', 'Rubrik', Segoe, Segoe UI, DejaVu Sans, Trebuchet MS, Verdana," sans-serif";

}

p {
    
    display: block;
    font-size: 16px;
    letter-spacing: 1px;
    margin: 45px 0;
    line-height: 1.5;
    
}

.content ul {
    
    padding-left: 30px;    
    
}

#specialism-content ul {
    
    padding-left: 0;
    margin-top: 60px;
    
}

#specialism-content ul li {
    
    width: 30%;
    display: inline-block;
    
}

li {
    
    font-size: 16px;
    letter-spacing: 1px;
    line-height: 1.5;
    
}

.right {
    
    text-align: right;
    
}

/* Structure */


hr {
    
    display: none;
    
}

aside {
    
    width: 200px;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    background-color: #ffffff;
    box-shadow: 0px 0px 20px rgba(0,0,0,.2);
    z-index: 12;
    transition: all .2s ease-in-out;
    
}

aside img {
    
    width: 100%;
    height: auto;
    padding: 10px 20px 20px 15px;
    
}

.full {
    
    width: 1200px;
    margin: 0 auto;
    position: relative;
    
}

.material {
    
    padding: 120px;
    background-color: #ffffff;
    margin-top: 55px;
    border-radius: 4px;
    box-shadow: 0px 2px 3px rgba(0,0,0,.2);
    
}

.material.wide {
    
    margin: 0;
    padding: 0;
    
}

.material.wide .full {
    
    padding: 120px;
    
}

#main .material.full:last-of-type {
    
    margin-bottom: 120px;
    
}

/* Titles */

header.title {
    
    height: 186px;
    background-color: #353535;
    color: #f6f6f6;
    position: relative;
    background: -webkit-linear-gradient(left, rgba(41,171,225,1) 0%, rgba(240,90,35,1) 100%);
    background: -o-linear-gradient(left, rgba(41,171,225,1) 0%, rgba(240,90,35,1) 100%);
    background: linear-gradient(to right, rgba(41,171,225,1) 0%, rgba(240,90,35,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#29abe1', endColorstr='#f05a23',GradientType=1 );
    
}

header.title h1 {
    
    font-size: 36px;
    letter-spacing: 2px;
    
}

header.title h1.full {
    
    padding-left: 120px;
    padding-top: 100px;
    
}

.wrap .full h1 {
    
    padding-left: 120px;
    padding-right: 120px;
    padding-top: 60px;
    font-size: 45px;
    
}

/* Bars */

.bar {
    
    height: 120px;
    
}

.dark.bar {
    
    background-color: #353535;
    color: #f6f6f6;
    
}

.gradient.bar {
    
    background: -webkit-linear-gradient(left, rgba(41,171,225,1) 0%, rgba(240,90,35,1) 100%);
    background: -o-linear-gradient(left, rgba(41,171,225,1) 0%, rgba(240,90,35,1) 100%);
    background: linear-gradient(to right, rgba(41,171,225,1) 0%, rgba(240,90,35,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#29abe1', endColorstr='#f05a23',GradientType=1 ); /* IE6-9 */
    color: #f6f6f6;
    
}

.bar p, .bar h6 {
    
    margin-top: 0;
    line-height: 120px;
    padding-left: 120px;
    
}

.bar a.button {
    
    position:absolute;
    right: 120px;
    top: 30px;
    
}

.last {
    
    
}

.gradient.bar .button {

    background: #353535;

}

/* Menu */

#handle {
    
    position: fixed;
    z-index: 11;
    width: 100%;
    height: 60px;
    line-height: 60px;
    background-color: rgba(33,33,33,.8);
    color: #f6f6f6;
    font-size: 1.4em;
    padding-left: 20px;
    cursor: pointer;
    border-radius: 0px 0px 4px 0px;
    opacity: 0;
    transform: translateY(-60px);
    box-shadow: 0px 2px 3px rgba(0,0,0,.2);
    transition: all .2s ease-in-out;
    
}

#handle .title {
    
    position: absolute;
    letter-spacing: 1px;
    top: 0;
    left: 180px;
    font-size: 18px;
    transition: all .2s ease-in-out;
    
}

body.open #handle .title {

    transform: translateX(-200px);
    opacity: 0;
    
}

body.closed #handle .title {
    
    transform: translateX(0);    
    opacity: 1;
    
}


aside .menu li {
    
    height: auto;
    width: 100%;
    text-align: center;
    
}

aside .menu li a {
        
    font-family: 'Rubrik' , 'Rubrik Semibold', Segoe, Segoe UI, DejaVu Sans, Trebuchet MS, Verdana," sans-serif";
    display: block;
    padding: 0;
    line-height: 60px;
    color: #353535;
    font-size: 14px;
    background-color: rgba(255,255,255,0);
    border-top: 1px solid rgba(0,0,0,0);
    border-bottom: 1px solid rgba(0,0,0,.2);
    border-radius: 0px;
    box-shadow: 0px 2px 3px rgba(0,0,0,0);
    transition: all .2s ease-in-out;
        
}

aside .menu li:first-of-type a {
    
    border-top: 1px solid rgba(0,0,0,.2);
    
}

aside .menu li.current_page_item a, aside .menu li.current-menu-item a, aside .menu li.current-menu-parent a {
        
    color: #f6f6f6;
    background: -webkit-linear-gradient(left, rgba(41,171,225,1) 0%, rgba(240,90,35,1) 100%);
    background: -o-linear-gradient(left, rgba(41,171,225,1) 0%, rgba(240,90,35,1) 100%);
    background: linear-gradient(to right, rgba(41,171,225,1) 0%, rgba(240,90,35,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#29abe1', endColorstr='#f05a23',GradientType=1 ); /* IE6-9 */
}


aside .menu li a:hover {
    
    background-color: rgba(255,255,255,1);
    box-shadow: 0px 2px 3px rgba(0,0,0,.2);
    border-top: 1px solid rgba(0,0,0,.2);
    border-radius: 0px 4px 4px 0px;
    transform: scale(1.2);
    
}

.menu ul.sub-menu {
    
    display: none;
    
}

/* Specialisms */

#specialism-container {
    
    display: flex;
    justify-content: space-between;
    margin-left:-30px;
    margin-right:-30px;
    
}

#specialism-content .content p {
    
    padding-right: 33%;
    
}

.specialism {
    

    display: inline-block;
    text-align: center;
    padding: 30px;
    position: relative;
    
}

.specialism span {
    
    display: block;
    font-size: 100px;
    text-align: center;
    margin-bottom: 30px;
    
} 

#specialism-container .content {
    
    display: none;
    
}

a.specialism {
    
    color:rgba(53,53,53,1);
    background-color: #ffffff;
    background: -webkit-linear-gradient(left, rgba(41,171,225,1) 0%, rgba(240,90,35,1) 100%);
    background: -o-linear-gradient(left, rgba(41,171,225,1) 0%, rgba(240,90,35,1) 100%);
    background: linear-gradient(to right, rgba(41,171,225,1) 0%, rgba(240,90,35,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#353535', endColorstr='#353535',GradientType=1 );
    -webkit-background-clip: text;
    background-clip: text;
    transition: all .2s ease-in-out;
    
}

a.specialism:hover {
    
    transform: scale(1.2);
    background: -webkit-linear-gradient(left, rgba(41,171,225,1) 0%, rgba(240,90,35,1) 100%);
    background: -o-linear-gradient(left, rgba(41,171,225,1) 0%, rgba(240,90,35,1) 100%);
    background: linear-gradient(to right, rgba(41,171,225,1) 0%, rgba(240,90,35,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#29abe1', endColorstr='#f05a23',GradientType=1 );
    color:rgba(53,53,53,0);
    -webkit-background-clip: text;
    background-clip: text;
    transition: all .2s ease-in-out;
    
}

span.specialism-title {
    
    font-size: 16px;
    
}

#specialism-content {
    
    position: relative;
    
}

#specialism-content span {
    
    font-size: 150px;
    background: -webkit-linear-gradient(left, rgba(41,171,225,1) 0%, rgba(240,90,35,1) 100%);
    background: -o-linear-gradient(left, rgba(41,171,225,1) 0%, rgba(240,90,35,1) 100%);
    background: linear-gradient(to right, rgba(41,171,225,1) 0%, rgba(240,90,35,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#29abe1', endColorstr='#f05a23',GradientType=1 );
    color:rgba(53,53,53,0);
    -webkit-background-clip: text;
    background-clip: text;
    position: absolute;
    right: 120px;
    top: 240px;
    
    
}

#specialism-content ul li {
    
    font-size: 16px;
    line-height: 2;
    
}

#specialism-content a.button, #about-content a.button, #joinus-content a.button {
    
    margin-top: 60px;
    
}

/* Team */

p strong {
    
    font-family: 'Rubrik Semibold';
    
}

.team-phone, .team-specialties {
    
    margin: 30px 0 0 0;
    
}

.team-image, .specialism-image {
    margin-top: -60px;
    margin-left: -60px;
    margin-right: -60px;
    height: 211px;
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    color: #f6f6f6;
    text-shadow: 0px 1px 4px rgba(0,0,0,1);
    font-size: 22px;
    font-family: 'Moon Bold', 'Moon Light', 'Rubrik Semibold', 'Rubrik';
    padding-left: 60px;
    padding-bottom: 30px;
    padding-top: 60px;
    padding-right: 60px;
    border-radius: 4px 4px 0 0;
    position: relative;
    z-index: 1;
    overflow: hidden;
    transition: all .3s ease-in-out;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
}

.specialism-image {

    justify-content: center;

}


.team-image.new-member, #callardyce .team-image {
    /* padding-top: 250px; */
}

#amurphy .team-image {
    
    background-position: center center;
    
}

.team-image.new-member {
    
    background-color: #353535;
    
}

.team-image.new-member span {
    
    font-size: 250px;
    color: rgba(255,255,255,.5);
    text-align: center;
    display: inline-block;
    z-index: -2;
    position: absolute;
    bottom: -60px;
    left: 0;
    text-shadow: none;
    width: 100%;
    
}


.team-image:before {
    
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: -1;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+40,000000+100&0+40,0.6+100 */
    background: -moz-linear-gradient(top, rgba(0,0,0,0) 40%, rgba(0,0,0,0.6) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(0,0,0,0) 40%,rgba(0,0,0,0.6) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(0,0,0,0) 40%,rgba(0,0,0,0.6) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#99000000',GradientType=0 ); /* IE6-9 */

}

.team-phone {
    
margin-bottom: 0;
}

.team-members .material.half:hover .team-image {
        
    
}


/* Jobs */

.half-container {
    
    padding-bottom: 60px;
    
}

.third-container {
    
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    padding: 60px 60px 0 60px;
    
}

.material.half, .material.third {
    
    margin-left: 60px;
    margin-top: 60px;
    width: calc(50% - 90px);
    display: inline-block;
    padding: 60px;
    position: relative;
    padding-bottom: 100px;
    
}

.material.third {
    
    width: calc( ( 100% - 120px ) / 3 );
    margin: 0 60px 60px 0;
    
}

.material.third:nth-child(3n+3) { 

    margin-right: 0;

}

.third-container:not(.team-members) .material.third:nth-child(3n+3) {
    
    text-align: right;
    
}

.third-container:not(.team-members) .material.third:nth-child(even) {
    
    text-align: center;
    
}



.material.half:last-of-type {
    
    margin-right: -60px;
    
}

.material.half a.button, .material.third a.button {
    
    position: absolute;
    bottom: 0;
    left: 0;
    border-radius: 0px 0px 4px 4px;
    width: 100%;
    text-align: center;
    z-index: 1;
    
}

.material.half h2, .material.third h2 {
    
    display: inline-block;
    font-size: 42px;
    padding-bottom: 30px;
    
}

.material.third h2 {
    
    font-size: 36px;
    
}

.material.half table, .material.third table {
    
    width: 100%;
    
}

.material table strong {
    
    font-family: 'Rubrik Semibold';
    
}

.material.half table tr td, .material.third table tr td {
    
    padding-top: 8px;
    padding-bottom: 8px;
    padding-right: 15px;
    width: 50%;
    
}

.material.half a.button:hover, .material.third a.button:hover {
 
    border-radius: 4px;
    transform: scale(1.1);
    
}

.specialisms .material.third h2{
    
    text-align: center;
    font-size: 28px;
    padding-bottom: 0;
    
}

.material.third p {
    
    margin-top: 30px;
    
}

.material.third h6 {
    
    margin-top: 30px;
    
}

/* Jobs Iframe */


.jobs iframe {
    
    margin-top: -70px;
    
}

/* Footer */

footer {
        
}

#pages {
    
    text-align: right;
    padding: 120px 120px 240px 120px;
}

#pages-wrap {
    
    background-color: #212121;
    
}

#refer-wrap {
    
    background: -webkit-linear-gradient(left, rgba(41,171,225,1) 0%, rgba(240,90,35,1) 100%);
    background: -o-linear-gradient(left, rgba(41,171,225,1) 0%, rgba(240,90,35,1) 100%);
    background: linear-gradient(to right, rgba(41,171,225,1) 0%, rgba(240,90,35,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#29abe1', endColorstr='#f05a23',GradientType=1 );
    
}

#refer {
    
    padding: 120px;
    overflow: hidden;
    color: #f6f6f6;
    
}

#refer span {
    
    position: absolute;
    bottom: -15px;
    right: 100px;
    line-height:1;
    color: #f6f6f6;
    font-size: 170px;
    
}

#refer p {
    
    padding-right: 30%;
    
}

#refer a.button {
    
    margin-top: 60px;
    background: #f05a23 !important;
    
    
}

#pages h1 {
    
    margin-bottom: 60px;
    margin-right: -5px;
    
}

#pages ul {
    
    height: 120px;
    width: 60%;
    right: 120px;
    position: absolute;
    
}

#pages ul li {
    
    height: 30px;
    width: 50%;
    float: left;
    list-style: none;
    position: relative;
    
}

#pages ul li.current-menu-item a:before, #pages ul li.current-menu-parent a:before  {
    
    content: '';
    width: 100%;
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    height: 1px;
    background: linear-gradient(to right, rgba(41,171,225,1) 0%, rgba(240,90,35,1) 100%);
    
}

#pages ul a {
    
    color: #f6f6f6;
    letter-spacing: 1px;
    display: inline-block;
    position: relative;
    height: 30px;
    line-height: 30px;
    background-color: #ffffff;
    background: -webkit-linear-gradient(left, rgba(41,171,225,1) 0%, rgba(240,90,35,1) 100%);
    background: -o-linear-gradient(left, rgba(41,171,225,1) 0%, rgba(240,90,35,1) 100%);
    background: linear-gradient(to right, rgba(41,171,225,1) 0%, rgba(240,90,35,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#353535', endColorstr='#353535',GradientType=1 );
    -webkit-background-clip: text;
    background-clip: text;
    transition: all .2s ease-in-out;


}

#pages ul a:hover {
    
    /*transform: scale(1.3);*/
    background: -webkit-linear-gradient(left, rgba(41,171,225,1) 0%, rgba(240,90,35,1) 100%);
    background: -o-linear-gradient(left, rgba(41,171,225,1) 0%, rgba(240,90,35,1) 100%);
    background: linear-gradient(to right, rgba(41,171,225,1) 0%, rgba(240,90,35,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#29abe1', endColorstr='#f05a23',GradientType=1 );
    color:rgba(53,53,53,0);
    -webkit-background-clip: text;
    background-clip: text;
    transition: all .2s ease-in-out;
    
}


#pages span {
   
    position: absolute;
    bottom: 132px;
    left: 120px;
    line-height:1;
    color: rgba(255,255,255,.2);
    font-size: 111px;
    
}

.credentials.dark.bar {
    
    background-color: rgba(21,21,21,1);
    color: rgba(255,255,255,.4);
    
}

.credentials.dark.bar p {
    
    font-size: 14px;
    
}

/* Home */


#main.home p {
    
    display: none;
    
}

#main.home .full p {
    
    display: block;
    
}

#main.home {
    /*
    background-image: url(img/earth.jpg);
    background-size: cover;
    background-position: top center;
    background-repeat: no-repeat;    
 	background-attachment: fixed;
    overflow: visible;
    position: relative;
    */
    
}

#main.home:before {
    /*
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    width: 100%;
    height: 800px;
    */
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#eeeeee+0,eeeeee+100&0+1,1+100 */
    /*
    background: -moz-linear-gradient(top, rgba(238,238,238,0) 0%, rgba(238,238,238,0) 1%, rgba(238,238,238,1) 100%); 
    background: -webkit-linear-gradient(top, rgba(238,238,238,0) 0%,rgba(238,238,238,0) 1%,rgba(238,238,238,1) 100%); 
    background: linear-gradient(to bottom, rgba(238,238,238,0) 0%,rgba(238,238,238,0) 1%,rgba(238,238,238,1) 100%); 
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00eeeeee', endColorstr='#eeeeee',GradientType=0 ); 
    z-index: 0;
    */
}

#home-hero {
    
    padding: 180px 120px;
    
}

#home-hero-wrap {

    background-image: url(https://ratiodigital.co.uk/wp-content/uploads/2018/07/home-gradient.jpg);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;

}

#home-hero h6, #home-hero p {
    
    color: #f6f6f6;
    text-shadow: 0px 0px 3px rgba(0,0,0,1);
    
}

.home .specialisms .material .specialism-image {
    
    background-color: rgba(255,255,255,0);
    
}

.home .specialisms .material {
    
    /*background: rgba(0,0,0,.7);*/
        
}

.home .specialism-image span {
    
    /*color: #f6f6f6;*/
    
}

.home .wrap .full {
    /*
    padding: 0;
    color: #f6f6f6;
    text-shadow: 0px 2px 3px rgba(0,0,0,.2);
    */
}

.specialisms .material span {
    
    transition: all .2s ease-in-out;    
    display: inline-block;
    
}

.specialisms .material:hover span {
    
    transform: rotate(360deg);
    background: -webkit-linear-gradient(left, rgba(41,171,225,1) 0%, rgba(240,90,35,1) 100%);
    background: -o-linear-gradient(left, rgba(41,171,225,1) 0%, rgba(240,90,35,1) 100%);
    background: linear-gradient(to right, rgba(41,171,225,1) 0%, rgba(240,90,35,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#29abe1', endColorstr='#f05a23',GradientType=1 );
    color:rgba(53,53,53,0);
    -webkit-background-clip: text;
    background-clip: text;
    
}


.specialisms .material.half {
    
    padding-bottom: 55px;
    text-align: center;
    
}

.specialisms .material h2 {
    
    font-size: 28px;
    
}

.specialism-image {
    
    background-color: #ffffff;
    color: #353535;
    text-align: center;
    text-shadow: none;
    padding: 30px;
    height: 160px;
    
}

.specialism-image span {
    
    color: #353535;
    font-size: 100px;
    
}

.home .specialisms .material.third {

    padding-bottom: 45px;

}


/* Forms */

form p {
    
    margin: 0;
    margin-top: 30px;
    
}

label {
    
    line-height: 3;
    
}

input, select, textarea {
    
    width: calc(100% + 30px);
    outline: none;
    border: none;
    background-color: #f6f6f6;
    color: #353535;
    font-size: 16px;
    font-family: 'Rubrik';
    letter-spacing: 1px;
    line-height: 1.5;
    height: 60px;
    margin-left: -30px;
    padding-left: 30px;
    padding-right: 30px;
    border-radius: 4px;
    box-shadow: 0px 2px 3px rgba(0,0,0,.2);
    transition: all .2s ease-in-out;

}

textarea {
    
    padding-top: 30px;
    height: 120px;
    
}

input::placeholder, select::placeholder, textarea::placeholder {
    
    color: rgba(0,0,0,.3);
    
}

.form input[type="submit"] {
    
    margin-bottom: 0;
    
}

input[type="submit"] {
    
    margin-top: 30px;
    width: auto;
}

div[role="alert"] ul {
    
    display: none;
    
}

[role="alert"] {
    
    color: #be1622;
    
}

.required {
    
    background: -webkit-linear-gradient(left, rgba(41,171,225,1) 0%, rgba(240,90,35,1) 100%);
    background: -o-linear-gradient(left, rgba(41,171,225,1) 0%, rgba(240,90,35,1) 100%);
    background: linear-gradient(to right, rgba(41,171,225,1) 0%, rgba(240,90,35,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#29abe1', endColorstr='#f05a23',GradientType=1 );
    color:rgba(53,53,53,0);
    -webkit-background-clip: text;
    background-clip: text;
    
}

input.wpcf7-not-valid, select.wpcf7-not-valid, textarea.wpcf7-not-valid {
 
    /*box-shadow: 0px 2px 3px #be1622;*/
    
}

.wpcf7-response-output.wpcf7-validation-errors, .wpcf7-not-valid-tip, [role="alert"] {
    
    margin-left: -30px;
    margin-top: 10px;
    margin-bottom: 15px;
    padding: 10px 30px;
    border-radius: 0px 0px 4px 4px;
    color: #be1622;
    background-color: rgba(255, 247, 247,1);
    line-height: 1.5;
    display: inline-block;
    
}

input[type="file"] {
    
    height: auto;
    padding: 30px;
    
}

.upload-restrictions {
    
    display: inline-block;
    margin-top: 30px;
    
}

.screen-reader-response {
    
    display: inline-block;
    margin-top: 30px;
    
}

input:not([type="submit"]):hover, select:hover, textarea:hover {
    
    background: rgba(235, 247, 251, 1);
    background: #eeeeee;
    
}

input:not([type="submit"]):active, input:not([type="submit"]):focus, select:active, select:focus, textarea:active, textarea:focus {
    
    background: rgba(235, 247, 251, 1);

}

input[type="submit"] {
    
    margin-bottom: 0;
    
}


/* Contact */




/* Media Queries */


@media screen and (max-width: 1640px) {
    
    .full {
        
        width: calc(100% - 120px);
        
    }
    
    .material.full {
        
        margin: 60px;
        
    }
    
    .material.third {
        
        width: calc(50% - 30px);
        text-align: center !important;
        
    }
       
}


@media screen and (max-width: 1200px) {
    
    #handle {
            
        opacity: 1;
        transform: translateY(0);

    }
    
    body {
        
        padding-left: 0;
        
    }
    
    body.open #handle {
        
        transform:  translateX(200px);
        height: 100%;
        
    }
    
    body.open aside {
    
       transform: translateX(0px);

    }

    body.closed aside {

        transform: translateX(-200px);

    }
    
    body.open {
        
        overflow: hidden;
        
    }
    
}

@media screen and (max-width: 1000px) {
    
    #handle .title {
    
        left: 60px;
    
    }
    
    .full {
        
        width: 100%;
        
    }
    
    .material.full {
        
        padding: 60px;
        width: 100%;
        margin: 0;
        
    }
    
    #main .material.full:last-of-type {
        
        margin-bottom: 0;
        
    }
    
    .wrap .full h1 {
        
        padding-left: 60px;
        padding-right: 60px;
        
    }
    
    .material.wide .full {
        
        padding: 60px;
        
    }
    
    .bar a.button {
        
        right: 60px;
        
    }
    
    header.title h1.full,
    .bar p,
    .bar h6 {
        
        padding-left: 60px;
        
    }
    
    #refer {
        
        padding: 60px;
        
    }
    
    #refer p {
        
        padding-right: 0;
        
    }
    
    #refer span {
        
        right: 50px;
        font-size: 120px;
        
    }
    
    #pages ul {
        
        right: 60px;
        
    }
    
    #pages {
        
        padding: 60px 60px 240px 60px;
        
    }
    
    #home-hero {
        
        padding-left: 60px;
        padding-right: 60px;
        
    }
    
    input, select, textarea {
        
        margin-left: 0;
        width: 100%;
        
    }
    
}

@media screen and (max-width: 850px) {
    
    .material.third, .material.half {

        width: 100%;

    }
    
    .material.half {
        
        width: calc(100% - 120px);
        
    }
        
    .specialisms.third-container .material {

        text-align: center;

    }
    
    #specialism-content h1 {
        
        margin-right: 120px;
        
    }
    
    #specialism-content span {
        
        right: 60px;
        top: 0;
        font-size: 100px;
        margin: 60px auto 0 auto;
    }
    
    #specialism-content .content p {
        
        padding-right: 60px;
        
    }
    
    #specialism-content ul li {
        
        width: 49%;
        line-height: 1.5;
        padding-bottom: 15px;
        
    }
   
	.right {

		text-align: center;

	}

}


@media screen and (max-width: 750px) {
    
    #pages {
        
        text-align: left;
        padding-bottom: 60px;
        
    }
    
    #pages ul {
        
        width: 100%;
        text-align: left;
        right: auto;
        position: static;
        margin-bottom: 60px;
        
    } 
    
    #pages span {
        
        position: static;
        display: inline-block;
        
    }
    
}


@media screen and (max-width: 650px) {
    
    h1 {
        
        font-size: 50px;
        
    }
    
    #specialism-content h1 {
        
        margin-top: 120px;
        margin-right: 0;
        
    }
    
    #specialism-content span {
        
        left: 60px;
        right: auto;
        width: auto;
        font-size: 75px;
        
    }
    
    #specialism-content .content p {
        
        padding-right: 0;
        
    }

    
}

@media screen and (max-width: 500px) {
    
    .third-container {
        
        padding: 0;
        
    }
    
    .material.third {
        
        margin-bottom: 30px;
        
    }
    
    
    .bar {
        
        height: auto;
        padding: 60px;
        
    }
    
    .bar p, .bar h6 {
        
        line-height: 1.5;
        display: block;
        padding-left: 0;
        
    }
    
    .bar a.button {
        
        position: static;
        display: block;
        margin-top: 30px;
        text-align: center;
        
    }
    
    #specialism-content ul li {
        
        width: auto;
        display: list-item;
        
    }
    
	.content h1 {

		margin-top: 15px;

	}

    #refer {
        
        padding-bottom: 240px;

        
    }
    
	#refer h1 {

		margin-top: 15px;
	
	}
	
	#refer h6, h6 {
	
		margin-top: 30px;

	}

    #refer a.button {
        
        position: absolute;
        bottom: 120px;
        left: 60px;
        z-index: 10;
        
    }
    
    #pages h1 {
        
        margin-right: 0;
        margin-bottom: 30px;
		margin-top: 15px;
        
    }
    
    #pages ul {
        
        height: auto;
        margin-bottom: 0;
        
    }
    
    #pages ul li {
        
        width: 100%;
        height: 45px;
        
    }
    
    #pages ul li a {
        
        height: 45px;
        line-height: 45px;
        
    }
    
    #pages span {
        
        margin-top: 30px;
        
    }
    
    .material.half h2, .material.third h2 {
        
        font-size: 36px;
        
    }
    
    .material.half, .material.third {
        
        width: calc(100% - 60px);
        margin-left: 30px;
        margin-bottom: 0;
        margin-top: 30px;
        
    }
        
    .half-container, .third-container {
        
        padding-bottom: 30px;
        
    }
    
    #home-hero h1 {
        
        font-size: 38px;
        
    }
    
    #home-hero a.button {
        
        font-size: 16px;
        
    }
    
    h1 {
        
        font-size: 42px;
        
    }
    
	header.title h1 {

		font-size: 32px;

	}

    .wrap .full h1 {
        
        padding-left: 30px;
        padding-right: 30px;
        font-size: 36px;
        
    }
    
    a.button, input[type="submit"] {
        
        font-size: 16px;
        display: block;
        text-align: center;
        width: 100%;
        
    }
    
    #refer a.button {
        
        width: calc(100% - 120px)
        
    }
    
	p {

		margin-top: 30px;
		margin-bottom: 30px;
		font-size: 14px;
	
	}
	
	.content h1 {
		
		font-size: 32px;

	}
	
	h6 {

		font-size: 18px;

	}

	ul li {

		font-size: 14px;

	}
	
	.content ul {

		padding-left: 17px;

	}

	.credentials.dark.bar p {

		font-size: 12px;

	}

}

@media screen and (max-width: 400px) {
    
    #handle .title {
        
        font-size: 14px;
		left: 65px;
        
    }

	#handle {

		padding-left: 30px;

	}
    
    #specialism-content a.button, #about-content a.button, #joinus-content a.button {
        
        margin-top: 30px;
        display: block;
        text-align: center;
        
    }
    
    h1 {
        
        font-size: 36px;
        
    }
    
    .material.half h2, .material.third h2 {
        
        font-size: 32px;
        
    }
    
    .specialisms .material.third h2 {
        
        font-size: 24px;
        
    }
    
    .specialisms .material.third, .specialisms .material.half {
        
        padding-top: 60px;
        
    }
    
    .material.full {
        
        padding: 30px;
        
    }
    
    .material.wide .full {
        
        padding: 30px;
        
    }
        
    .material.half, .material.third {
     
        padding: 30px;
        padding-bottom: 70px
        
    }

    
    header.title h1.full {
        
        padding-left: 30px;
        
    }
    
    #refer {
        
        padding: 30px;
        padding-bottom: 200px;
        
    }
    
    
    #refer a.button {
        
        bottom: 120px;
        left: 30px;
        width: calc(100% - 60px)
        
    }

    
    #refer span {
        
        right: 30px;
        font-size: 120px;
        
    }
        
    #pages {
        
        padding: 30px;
        
    }
    
    #home-hero {
        
        padding-left: 30px;
        padding-right: 30px;
        
    }
    
    .bar {
        
        height: auto;
        padding: 30px;
        
    }
    
    #specialism-content span {
        
        left: 30px;
                
    }

    #specialism-content h1 {
        
        margin-top: 150px;
        
    }
    
    #specialism-content ul li {
        
       margin-left: 15px;
        
    }

    .team-image, .specialism-image {
        
        margin-top: -30px;
        margin-left: -30px;
        margin-right: -30px;
        font-size: 30px;
        padding-left: 30px;
        padding-bottom: 30px;
        padding-right: 30px;
		display: flex;
		justify-content: center;
		align-items: flex-end;
        
    }
    
    
}

@media screen and (max-width: 300px) {

	#handle .title {
		
		font-size: 12px;		

	}

}

@media screen and (max-height: 680px) {
    
    aside {
        
        overflow-y: scroll;
        
    }
    
}


